body {font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(darkred, black);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;}
#dashboard {background-color: hsl(210, 15%, 43%,1.0);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
            position: relative;
        }

        h2 {
            margin-top: 0;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 10px;
        }

        input {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            margin-top: 15px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #28a745;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: hsl(48, 88%, 32%,1.0);
        }

        .hidden {
            display: none;
        }
.toggle-password {
            position: absolute;
            right: 0;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            font-size: 20px;
        }






